.book{
    display: flex;
    flex-direction: row;
    justify-content: space-between;}
.bookField {
  display: flex;
  flex-direction: row;
}
.bookDescription {
  width: 40%;
}
.title {
  width: 20%;
}
.cartField {
  display: flex;

  flex-direction: column;
  padding-top: 30px;
  width: 40%;
  height: 100%;
  height: auto;
  border: 1px solid black;
}

@media screen and (max-width: 600px) {
  .book {
    flex-direction: column;
        justify-content: center;
        align-content: flex-start;
  }
  .bookField {
  display: flex;
  justify-content: center;
  flex-direction: column;
}.bookDescription {
    display: flex;
justify-content: center;
flex-direction: column;

  width: 100%;
}
.title {
  width: 100%;
}
.cartField {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  width: 100%;
  height: 100%;
  height: auto;
  border: 1px solid black;
}

}

